# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
unity/transhavenunity3d/Library/

# editor settings
unity/transhavenunity3d/.vscode/
unity/transhavenunity3d/Logs/

# Executables
*.exe
*.out
*.app

# editor backups
*~
*.*~


